#message-container ul{
    list-style-type: none;
    padding-left: 0px;
}
.selfmsg,.othermsg{
    margin: 30px 0px;
}
.selfmsg .username{
    float: right;
    clear: both;
   /* display: inline;*/
    margin: 2px;
    color: #999;
}
.selfmsg .msg{
    float: right;
    clear: both;
    display: inline;
    background-color: #9EEA6A;
    max-width: 250px;
    padding: 8px;
    margin: 2px;
    border-radius: 6px;
    word-break: break-all;
}
.othermsg .username{
    float: left;
    clear: both;
   /* display: inline;*/
    margin: 2px;
    color: #999;
}
.othermsg .msg{
    float: left;
    clear: both;
    display: inline;
    background-color: #FFFFFF;
    border: 1px solid #eee;
    max-width: 250px;
    padding: 8px;
    margin: 2px;
    border-radius: 6px;
    word-break: break-all;
}
/*.selfmsg{
    background-color: greenyellow;
    border: solid 1px greenyellow;
    max-width: 250px;
    margin: 10px 5px;
    padding: 5px;
    border-radius: 4px;
    display: inline;
    float: right;
    clear: both;
    word-break: break-all;
}

.othermsg{
    background-color: lightgray;
    border: solid 1px lightgray;
    max-width: 250px;
    margin: 10px 5px;
    padding: 5px;
    border-radius: 4px;
    display: inline;
    float: left;
    clear: both;
    word-break: break-all;
}*/


#page{
    display: flex;
    justify-content: space-around;
}
#container{
    height: 500px;
    width: 50%;
    display: flex;
}
#userinfo{
    background-color: #27292C;
    width: 7%;
    text-align: center;
}
#userList{
    background-color: #EEEAE8;
    width: 26%;
    display: flex;
    flex-direction: column;
}
.list-title{
    text-align: center;
    height: 8%;
    background-color: #E8E8E8;
}
.friends-list-container, .user-list-container{
    height: 92%;
}
#message-container-2{
    display: flex;
    flex-direction: column;
    width: 67%;
    justify-content: space-between;
    background-color: #F5F5F5;
}
#chat-name-container{
    height:11%;
}
#message-container{
    height: 59%;
    overflow: auto;
}
#form-container{
    height: 30%;
    position: relative;
    border-right: solid 2px #F5F5F5;
    border-bottom: solid 2px #F5F5F5;
}
input[type=text]{
    height: 100px;
    width: 100%;
    background-color: #F5F5F5;
    border-color: #F5F5F5;
}
input[type=submit]{
    position: absolute;
    border: 1px solid #d5d5d5;
    right: 3px;
    bottom: 3px;
    background-color: #F5F5F5;
    width: 60px;
    height: 25px;
    outline: none;
}
input[type=submit]:hover{
    background-color: #09BB07;
}
#userList-ul, #friends-list{
    padding: 0px;
    margin: 0px;
    height: 90%;
}
#userList-ul li, #friends-list li{
    list-style-type: none;
    width: 100%;
    height: 40px;
    text-align: left;
}
#userList-ul .userList .username{
    margin: 0px;
}
#userList-ul li:hover{
    background-color: #C3C3C3;
}
textarea{
    border-color: #F5F5F5;
    width: 99%;
    background-color: #F5F5F5;
    height: 110px;
    outline: none;
    resize: none;
}
/*textarea:focus{
    background-color:white;
}*/
#chat-name-container h4{
    margin: 5px 0px 10px 0px;
}
#userinfo a{
    text-decoration: none;
    border: solid 1px white;
    border-radius: 3px;
    color: white;
}
#userinfo a:hover{
    color: #9EEA6A;
}
#userinfo .iconfont{   /*字体图标样式*/
    font-size: 30px;
    color: white;
    font-weight: lighter;
    margin-top: 30px;
}
#userinfo div:hover{    /*字体图标hover样式*/
    color: #9EEA6A;
}
.logout-link{
    margin-top: 30px;
}

#userPop{    /*用户信息弹出框*/
    display: none;
    position: absolute;
    background-color: white;
    z-index: 5;
    height: 150px;
    width: 250px;
    box-shadow: 0px 0px 3px gray;
    border-radius: 5px;
    padding: 15px;
}

.message-inform-badge{     /*消息提醒徽标*/
    display: none;
    position: absolute;
    background-color: red;
    color: white;
    width: 18px;
    height: 18px;
    font-size: 12px;
    border-radius: 50%;
    text-align: center;
    padding: 0px;
    margin: 0px;
}
#form-container .form-hr{
    margin-top: 0px;
}
